/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* HTML elements */
/* line 8, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
}

/* line 12, ../sass/global.scss */
body {
  background: url(../img/bg_pattern.png) repeat;
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  color: #56595e;
}

/* line 18, ../sass/global.scss */
a:link, a:visited, a:hover {
  text-decoration: none;
  color: #009900;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 28, ../sass/global.scss */
a:hover {
  color: #000000;
}

/* line 33, ../sass/global.scss */
h1,
h2 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  line-height: 1;
}

/* line 40, ../sass/global.scss */
h1.site-name,
h2.site-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 44, ../sass/global.scss */
h1.site-name a,
h2.site-name a {
  color: #009900;
}

/* line 50, ../sass/global.scss */
h1.site-name a:hover,
h2.site-name a:hover {
  color: #222222;
}

/* line 54, ../sass/global.scss */
input.form-text {
  height: 25px;
}

/** Blocks **/
/* line 59, ../sass/global.scss */
h2.block-title {
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 64, ../sass/global.scss */
.region-sidebar-second .block {
  margin-right: -28px;
  margin-bottom: 20px;
  background: url(../img/bg_block_sidebar_right.png) no-repeat right top;
  color: white;
}
/* line 69, ../sass/global.scss */
.region-sidebar-second .block .block-inner {
  background: #009900;
  margin-right: 28px;
  padding: 1em;
}
/* line 73, ../sass/global.scss */
.region-sidebar-second .block .block-inner a {
  color: white;
}
/* line 75, ../sass/global.scss */
.region-sidebar-second .block .block-inner a:hover {
  color: #222222;
}
/* line 80, ../sass/global.scss */
.region-sidebar-second .block h2.block-title {
  color: white;
  text-shadow: 1px 1px 2px #222222;
}

/* line 86, ../sass/global.scss */
#zone-branding #region-branding {
  padding: 40px 0 20px 0;
  width: 960px;
}

/* Main Menu */
/* line 92, ../sass/global.scss */
#zone-menu-wrapper {
  background-color: #009900;
  margin-bottom: 20px;
}

/* line 97, ../sass/global.scss */
#zone-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 100, ../sass/global.scss */
#zone-menu ul.menu li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 40px;
  line-height: 55px;
  list-style: none;
  font-family: "BebasNeueRegular";
  font-size: 1.692em;
  text-shadow: 1px 1px 2px #222222;
}
/* line 110, ../sass/global.scss */
#zone-menu ul.menu li a {
  color: white;
}

/* line 117, ../sass/global.scss */
#zone-menu ul.menu li a:hover, #zone-menu ul.menu li a.active {
  color: black;
  text-shadow: none;
}

/* line 122, ../sass/global.scss */
#block-system-main {
  font-size: 1.231em;
  line-height: 1.4;
}

/* Service Menu */
/* line 128, ../sass/global.scss */
#zone-branding .service-menu {
  position: absolute;
  top: 10px;
  right: 0px;
}
/* line 132, ../sass/global.scss */
#zone-branding .service-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 135, ../sass/global.scss */
#zone-branding .service-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 20px;
}

/** Search Block **/
/* line 146, ../sass/global.scss */
#block-search-form {
  position: absolute;
  top: 65px;
  right: -20px;
}
/* line 150, ../sass/global.scss */
#block-search-form input.form-text {
  background: none;
  border: none;
  border-bottom: 1px solid #888;
  padding-bottom: 4px;
  padding-right: 30px;
}
/* line 157, ../sass/global.scss */
#block-search-form input.form-submit {
  background: url(../img/bg_search_btn.png) no-repeat center center;
  text-indent: -999em;
  border: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 30px;
}

/** Frontpage Promo block **/
/* line 171, ../sass/global.scss */
#zone-preface #region-preface {
  width: 940px;
}

/* line 175, ../sass/global.scss */
.block-promo-homepage-block {
  margin-bottom: 20px;
  height: 320px;
  overflow: hidden;
}

/* line 181, ../sass/global.scss */
ul.promo-items {
  margin: 0;
  padding: 0;
}

/* line 186, ../sass/global.scss */
ul.promo-items li.promo-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 940px;
}
/* line 192, ../sass/global.scss */
ul.promo-items li.promo-item .promo-description {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 1.8em;
  background: url(../img/bg_promo_description.png) repeat;
  width: 33%;
  text-align: right;
  z-index: 100;
}
/* line 201, ../sass/global.scss */
ul.promo-items li.promo-item .promo-description h1 {
  text-shadow: 1px 1px 2px white;
}
/* line 205, ../sass/global.scss */
ul.promo-items li.promo-item .promo-visual {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/** Frontpage 3 blocks **/
/* line 215, ../sass/global.scss */
.front #region-postscript {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

/* line 221, ../sass/global.scss */
.front ul.front-blocks {
  margin: 0;
  padding: 0;
}
/* line 224, ../sass/global.scss */
.front ul.front-blocks li.front-block {
  padding-top: 20px;
}
/* line 226, ../sass/global.scss */
.front ul.front-blocks li.front-block .frontblock-image {
  margin-bottom: 20px;
}
/* line 228, ../sass/global.scss */
.front ul.front-blocks li.front-block .frontblock-image img {
  width: 276px;
  height: 120px;
  border: 2px solid #f3f4f5;
}
/* line 234, ../sass/global.scss */
.front ul.front-blocks li.front-block .frontblock-title {
  font-family: "BebasNeueRegular";
  text-transform: uppercase;
  font-size: 1.538em;
  margin-bottom: 10px;
}
/* line 240, ../sass/global.scss */
.front ul.front-blocks li.front-block .frontblock-body {
  font-size: 1.077em;
}
/* line 242, ../sass/global.scss */
.front ul.front-blocks li.front-block .frontblock-body p {
  margin-bottom: 8px;
}

/** Footer **/
/* line 252, ../sass/global.scss */
#zone-footer {
  font-size: 0.846em;
}
/* line 254, ../sass/global.scss */
#zone-footer #region-footer-first {
  padding: 40px 0 20px;
  text-align: center;
}

/** Teamleden **/
/* line 261, ../sass/global.scss */
ul.team-items {
  margin: 0;
  padding: 0;
}
/* line 264, ../sass/global.scss */
ul.team-items li.team-item {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-right: 10%;
  margin-bottom: 30px;
  width: 45%;
}
/* line 272, ../sass/global.scss */
ul.team-items li.team-item .team-pasfoto {
  clear: left;
  float: left;
  width: 140px;
}
/* line 276, ../sass/global.scss */
ul.team-items li.team-item .team-pasfoto img {
  border: 2px solid #cacaca;
}
/* line 280, ../sass/global.scss */
ul.team-items li.team-item .team-description {
  margin-left: 140px;
}
/* line 282, ../sass/global.scss */
ul.team-items li.team-item .team-description .team-naam {
  font-weight: 800;
}
/* line 287, ../sass/global.scss */
ul.team-items li.team-item.last {
  margin-right: 0;
}

/** Contact page **/
/* line 293, ../sass/global.scss */
.context-contact .gmap {
  margin-left: 20px;
  border: 3px solid #ededed;
}

/** Nieuws nodes **/
/* line 299, ../sass/global.scss */
.node-type-nieuws .submitted {
  margin-bottom: 20px;
}

/* line 303, ../sass/global.scss */
.node-type-nieuws .field-name-field-nieuws-afbeelding {
  float: left;
  padding-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/** Webforms **/
/* line 311, ../sass/global.scss */
.webform-client-form {
  clear: both;
  padding-top: 20px;
}
/* line 315, ../sass/global.scss */
.webform-client-form .webform-component {
  clear: left;
}
/* line 317, ../sass/global.scss */
.webform-client-form .webform-component label {
  width: 30%;
  float: left;
  font-weight: 100;
}
/* line 322, ../sass/global.scss */
.webform-client-form .webform-component .description {
  margin-left: 30%;
}
/* line 325, ../sass/global.scss */
.webform-client-form .webform-component .form-textarea-wrapper textarea {
  width: 400px;
  padding: 2px 7px;
  border: 1px solid #cacaca;
  font-size: 1.308em;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
/* line 333, ../sass/global.scss */
.webform-client-form .webform-component .form-text {
  padding: 2px 7px;
  width: 400px;
  border: 1px solid #cacaca;
  height: 25px;
  line-height: 25px;
  font-size: 1.308em;
}
/* line 342, ../sass/global.scss */
.webform-client-form .form-actions input.form-submit {
  border: none;
  background: #009900;
  color: white;
  border-bottom: 3px solid #0a570a;
  font-size: 1.154em;
  text-transform: uppercase;
  padding: 0.35em 0.5em;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 356, ../sass/global.scss */
.webform-client-form .form-actions input.form-submit:hover {
  background: #0a570a;
}

/** Shopping Catalog **/
/* line 363, ../sass/global.scss */
ul.catalog-items {
  margin: 0;
  padding: 0;
}
/* line 366, ../sass/global.scss */
ul.catalog-items li.catalog-item {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px;
  border: 1px solid #ededed;
  width: 45%;
  position: relative;
}
/* line 376, ../sass/global.scss */
ul.catalog-items li.catalog-item.last {
  margin-right: 0;
}
/* line 379, ../sass/global.scss */
ul.catalog-items li.catalog-item .catalog-item-image {
  float: left;
  clear: left;
}
/* line 383, ../sass/global.scss */
ul.catalog-items li.catalog-item .catalog-item-description {
  margin-left: 120px;
  padding-top: 10px;
}

/** Kiala fix **/
/* line 391, ../sass/global.scss */
html.js .commerce-kiala-service-details-form .form-type-radio {
  width: 100%;
}
