@import "base";

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* HTML elements */

h1,h2,h3,h4,h5,h6 {
  font-family: Arial;
}

body {
 background: url(../img/bg_pattern.png) repeat;
  font: normal 14px/20px Arial, Helvetica, sans-serif; 
  color: #56595e;  
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: $mainColor;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #000000;
}

h1,
h2 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  line-height: 1;
}

h1.site-name,
h2.site-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  a {
	  color: $mainColor;  
  }
}

h1.site-name a:hover,
h2.site-name a:hover {
  color: #222222;
}

input.form-text {
  height: 25px;
}

/** Blocks **/
h2.block-title {
  font-size: 2em;
  margin-bottom: .5em;
}

.region-sidebar-second .block {
  margin-right: -28px;
  margin-bottom: 20px;
  background: url(../img/bg_block_sidebar_right.png) no-repeat right top;
  color: $inverseColor;
  .block-inner {
    background: $mainColor;
    margin-right: 28px;
    padding: 1em;
    a {
      color: $inverseColor;
      &:hover {
        color: $inverseColorShadow;
      }
    }
  }
  h2.block-title {
    color: $inverseColor;
    text-shadow: 1px 1px 2px $inverseColorShadow;
  }
}

#zone-branding #region-branding {
  padding: 40px 0 20px 0;
  width: 960px;
}

/* Main Menu */
#zone-menu-wrapper {
  background-color: $mainColor;
  margin-bottom: 20px;
}

#zone-menu ul.menu {
  margin: 0;
  padding: 0;
  li {
	  margin: 0;
	  padding: 0;
	  float: left;
	  margin-right: 40px;
	  line-height: 55px;
	  list-style: none;
	  font-family: "BebasNeueRegular";
	  font-size: 1.692em;
	  text-shadow: 1px 1px 2px $inverseColorShadow;
	  a {
		  color: $inverseColor;
		}
	}

}

#zone-menu ul.menu li a:hover, #zone-menu ul.menu li a.active {
  color: $inverseColorActive;
  text-shadow: none;
}

#block-system-main {
  font-size: 1.231em;
  line-height: 1.4;
}

/* Service Menu */
#zone-branding .service-menu {
  position: absolute;
  top: 10px;
  right: 0px;
  ul.menu {
	  margin: 0;
	  padding: 0;
	  li {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    float: left;
	    margin-right: 20px;
	  }
  }
}

/** Search Block **/
#block-search-form {
  position: absolute;
  top: 65px;
  right: -20px;
  input.form-text {
    background: none;
    border: none;
    border-bottom: 1px solid #888;
    padding-bottom: 4px;
    padding-right: 30px;
  }
  input.form-submit {
	  background: url(../img/bg_search_btn.png) no-repeat center center;
	  text-indent: -999em;
	  border: none;
	  width: 25px;
	  height: 20px;
	  cursor: pointer;
	  position: relative;
	  right: 30px;
	}
}


/** Frontpage Promo block **/
#zone-preface #region-preface {
  width: 940px;
}

.block-promo-homepage-block {
  margin-bottom: 20px;
  height: 320px;
  overflow: hidden;
}

ul.promo-items {
  margin: 0;
  padding: 0;
}

ul.promo-items li.promo-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 940px;
  .promo-description {
	  position: absolute;
	  top: 20px;
	  right: 0;
	  padding: 1.8em;
	  background: url(../img/bg_promo_description.png) repeat;
	  width: 33%;
	  text-align: right;
	  z-index: 100;
	  h1 {
		  text-shadow: 1px 1px 2px $defaultColorShadow;
		}
	}
	.promo-visual {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 10;
	}

}

/** Frontpage 3 blocks **/
.front #region-postscript {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.front ul.front-blocks {
  margin: 0;
  padding: 0;
  li.front-block {
    padding-top: 20px;
    .frontblock-image {
      margin-bottom: 20px;
      img {
        width: 276px;
        height: 120px;
        border: 2px solid #f3f4f5;
      }
    }
    .frontblock-title {
      font-family: "BebasNeueRegular";
      text-transform: uppercase;
      font-size: 1.538em;
      margin-bottom: 10px;
    }
    .frontblock-body {
      font-size: 1.077em;
      p {
        margin-bottom: 8px;
      }
    }
  }
}



/** Footer **/
#zone-footer {
  font-size: 0.846em;
  #region-footer-first {
    padding: 40px 0 20px;
    text-align: center;
  }
}

/** Teamleden **/
ul.team-items {
  margin: 0;
  padding: 0;
  li.team-item {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 10%;
    margin-bottom: 30px;
    width: 45%;
    .team-pasfoto {
      clear: left;
      float: left;
      width: 140px;
      img {
        border: 2px solid #cacaca;
      }
    }
    .team-description {
      margin-left: 140px;
      .team-naam {
        font-weight: 800;
      }
    }
  }
  li.team-item.last {
    margin-right: 0;
  }
}

/** Contact page **/
.context-contact .gmap {
  margin-left: 20px;
  border: 3px solid #ededed;
}

/** Nieuws nodes **/
.node-type-nieuws .submitted {
  margin-bottom: 20px;
}

.node-type-nieuws .field-name-field-nieuws-afbeelding {
  float: left;
  padding-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/** Webforms **/
.webform-client-form {
  clear: both;
  padding-top: 20px;

	.webform-component {
	  clear: left;
	  label {
	    width: 30%;
	    float: left;
	    font-weight: 100;
	  }
	  .description {
	    margin-left: 30%;
	  }
	  .form-textarea-wrapper textarea {
	    width: 400px;
	    padding: 2px 7px;
	    border: 1px solid #cacaca;
	    font-size: 1.308em;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	  }
	  .form-text {
	    padding: 2px 7px;
	    width: 400px;
	    border: 1px solid #cacaca;
	    height: 25px;
	    line-height: 25px;
	    font-size: 1.308em;    
	  }
	}
  .form-actions input.form-submit {
	  border: none;
	  background: $mainColor;
	  color: $inverseColor;
	  border-bottom: 3px solid $mainColorDark;
	  font-size: 1.154em;
	  text-transform: uppercase;
	  padding: 0.35em 0.5em;
	  cursor: pointer;
	  -webkit-transition: all 0.1s ease-in-out;
	  -moz-transition: all 0.1s ease-in-out;
	  -o-transition: all 0.1s ease-in-out;
	  -ms-transition: all 0.1s ease-in-out;
	  transition: all 0.1s ease-in-out;
	  &:hover {
	    background: $mainColorDark;
	  }
  }
}

/** Shopping Catalog **/
ul.catalog-items {
  margin: 0;
  padding: 0;
  li.catalog-item {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 4%;
    margin-bottom: 20px;
    border: 1px solid #ededed;
    width: 45%;
    position: relative;
    &.last {
      margin-right: 0;
    }
    .catalog-item-image {
      float: left;
      clear: left;
    }
    .catalog-item-description {
      margin-left: 120px;
      padding-top: 10px;
    }
  }
}

/** Kiala fix **/
html.js .commerce-kiala-service-details-form .form-type-radio {
  width: 100%;
}